<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}}</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <meta name="description" content="{{ page.description }}">
    <meta property="og:title" content="Gentleman website">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:url" content="https://gentlemancp.org/">
    <meta property="og:site_name" content="Gentleman">
    <meta property="og:image" content="https://gentlemancp.org/assets/images/logo_gentleman_200.png">
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/site.css">
    <link rel="stylesheet" href="/assets/css/docs.css">
    {% if page.css %}
        {% for stylesheet in page.css %}
            <link rel="stylesheet" href="/assets/css/{{ stylesheet }}">
        {% endfor %}
    {% endif %}
</head>

<body>
    {%- include header.html -%}

    <main class="page-body" data-page="{{ page.id }}">
        {{ content }}
    </main>

    {%- include footer.html -%}
</body>

</html>